@import 'layout';
@import 'designelements';
@import 'postpage';

$colorBlue: #fff;


body{
    background-color: $colorBlue;

    h1 {
        color: black;
    }
    p {
        color: black;
    }
    label{
        color: black;
        font-size: 1.1rem;
    }
    section{
      ul li{
        list-style-type: none;
       }
       ul li a{
        text-decoration: wavy;
       }
       
    }

}